<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.client.local.WelcomePage" />
    <exclude name = "org.jboss.errai.demo.client.local.CustomerFormPage" />
    <exclude name = "org.jboss.errai.demo.client.local.CustomerListView" />
    <exclude name = "org.jboss.errai.demo.client.local.api.ProcessInvoker" />
    <exclude name = "org.jboss.errai.demo.client.local.api.ProcessInput" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessDefinition$Step" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessManager" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessDefinition$Builder$StepBuilder" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessDefinition$Builder" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessState" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessDefinition$Builder$LinkBuilder" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessDefinition$Link" />
    <exclude name = "org.jboss.errai.demo.client.local.api.impl.ProcessDefinition" />
    <exclude name = "org.jboss.errai.demo.client.local.api.ProcessOutput" />
    <exclude name = "org.jboss.errai.demo.client.local.CustomerView" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>