<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.client.local.WelcomePage" />
    <exclude name = "org.jboss.errai.demo.client.local.Config$1" />
    <exclude name = "org.jboss.errai.demo.client.local.CustomerFormPage" />
    <exclude name = "org.jboss.errai.demo.client.local.Config" />
    <exclude name = "org.jboss.errai.demo.client.local.SimpleDataSource" />
    <exclude name = "org.jboss.errai.demo.client.local.CustomerListView" />
    <exclude name = "org.jboss.errai.demo.client.local.Config$2" />
    <exclude name = "org.jboss.errai.demo.client.local.Config$4" />
    <exclude name = "org.jboss.errai.demo.client.local.CustomerView" />
    <exclude name = "org.jboss.errai.demo.client.local.Config$3" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>